:root {
    --primary: rgb(10, 44, 235);
}
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

main {
    flex: auto;
    padding: 48px 24px;
}

h1 {
    margin: 0 0 32px;
}

a {
    color: var(--primary)
}

label {
    font-weight: bold;
}

textarea {
    resize: none;
    width: 100%;
    padding: 12px;
    font: inherit;
    margin-top: 8px;
    border-radius: 4px;
    outline-color: var(--primary);
}

.code {
    margin: 16px 0 0;
    border-radius: 4px;
    padding: 16px;
    overflow: auto;
}

.code p {
    margin: 0;
}

.code p + p {
    margin-top: 4px;
}

.code,
footer {
    background-color: #f6f6f6;
}

footer {
    padding: 12px 24px;
}